<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Management</title>
    <link href="../static/style.css" rel="stylesheet"/>
</head>
<body>
<a href="{{ url_for('.index') }}">Index</a>
<h3>Add Machine</h3>
<form action="{{ url_for('.add_machine') }}" method="post">
    <table class="form">
        <tr>
            <th>{{ addmachineform.machineid.label }}</th>
            <th>{{ addmachineform.machinename.label }}</th>
        </tr>
        <tr>
            <td>{{ addmachineform.machineid }}</td>
            <td>{{ addmachineform.machinename }}</td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
    </table>
</form>
<p>{{ status }}</p>
<table class="sql">
    <tr>
        <th>MachineID</th>
        <th>MachineName</th>
    </tr>
    {% for t in table %}
    <tr>
        <td>{{ t[0] }}</td>
        <td>{{ t[1] }}</td>
    </tr>
    {% endfor %}
</table>
<h3>Remove Machine</h3>
<form action="{{ url_for('.remove_machine') }}" method="post">
    <table class="form">
        <tr>
            <th>{{ removemachineform.machineid.label }}</th>
        </tr>
        <tr>
            <td>{{ removemachineform.machineid }}</td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>