<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
</head>
<body>

<div class="flex-container">
<header>
  <h1>Makers Space Lockout System</h1>
  <h2>System Log</h2>
</header>

<nav class="nav">
<ul>
  <li><a href="systemstatus" class="myButton btn-work width">System Status</a></li>
  <br />
  <li><a href="machines" class="myButton btn-work width">Machines</a></li>
  <br />
  <li><a href="systemlog" class="myButton btn-work width">System Log</a></li>
  <br />
  <li><a href="users" class="myButton btn-work width">Users</a></li>
</ul>
</nav>

<article class="article">
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Node </th>
<th class="text-left">User</th>
<th class="text-left">Msgcode</th>
<th class="text-left">Msgdata</th>
<th class="text-left">Time</th>
</tr>
</thead>
<tbody class="table-hover">
{% for l in log %}
<tr>
<td class="text-left">{{ l[7] }}</td>
<td class="text-left">{{ l[6] }}</td>
<td class="text-left">{{ l[9] }}</td>
<td class="text-left">{{ l[5] }}</td>
<td class="text-left">{{ l[8] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</article>

<footer></footer>
</div>

</body>
</html>
