<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
</head>
<body>

<div class="flex-container">
<header>
  <h1>Makers Space Lockout System</h1>
  <h2>Users</h2>
</header>

<nav class="nav">
<ul>
  <li><a href="systemstatus" class="myButton btn-work width">System Status</a></li>
  <br />
  <li><a href="machines" class="myButton btn-work width">Machines</a></li>
  <br />
  <li><a href="systemlog" class="myButton btn-work width">System Log</a></li>
  <br />
  <li><a href="users" class="myButton btn-work width">Users</a></li>
</ul>
</nav>

<article class="article">
<table class="table-fill">
<thead>
<tr>
<th class="text-left">User ID</th>
<th class="text-left">User Name</th>
<th class="text-left">Email</th>
<th class="text-left">Authorized Nodes</th>
</tr>
</thead>
<tbody class="table-hover">

{% for u in users %}
<tr>
<td class="text-left">{{ u[0] }}</td>
<td class="text-left">{{ u[1] }}</td>
<td class="text-left">{{ u[2] }}</td>
<td class="text-left">{% for nd in u[3] %} {{ nd[0] }} {% endfor %}</td>
</tr>
{% endfor %}

</tbody>
</table>
</article>

<footer></footer>
</div>

</body>
</html>
