<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log</title>
    <link href="../static/style.css" rel="stylesheet"/>
</head>
<body>
<table class="sql">
    <tr>
        <th>RequestTime</th>
        <th>UserID</th>
        <th>UserName</th>
        <th>Email</th>
        <th>MachineID</th>
        <th>MachineName</th>
    </tr>
    {% for t in table %}
    <tr>
        <td>{{ t[0] }}</td>
        <td>{{ t[1] }}</td>
        <td>{{ t[2] }}</td>
        <td>{{ t[3] }}</td>
        <td>{{ t[4] }}</td>
        <td>{{ t[5] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>