.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #172751;
	-webkit-box-shadow: 0px 10px 14px -7px #172751;
	box-shadow: 0px 10px 14px -7px #172751;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e346d), color-stop(1, #1e346d));
	background:-moz-linear-gradient(top, #1e346d 5%, #1e346d 100%);
	background:-webkit-linear-gradient(top, #1e346d 5%, #1e346d 100%);
	background:-o-linear-gradient(top, #1e346d 5%, #1e346d 100%);
	background:-ms-linear-gradient(top, #1e346d 5%, #1e346d 100%);
	background:linear-gradient(to bottom, #1e346d 5%, #1e346d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e346d', endColorstr='#1e346d',GradientType=0);
	background-color:#1e346d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #28668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}

.btn-work {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e346d), color-stop(1, #1e346d));
	background:-moz-linear-gradient(top, #1e346d 5%, #1e346d 100%);
	background:-webkit-linear-gradient(top, #1e346d 5%, #1e346d 100%);
	background:-o-linear-gradient(top, #1e346d 5%, #1e346d 100%);
	background:-ms-linear-gradient(top, #1e346d 5%, #1e346d 100%);
	background:linear-gradient(to bottom, #1e346d 5%, #1e346d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e346d', endColorstr='#1e346d',GradientType=0);
	background-color:#1e346d;
}
.myButton:active {
	position:relative;
	top:1px;
}

.width{
    width: 150px;
}